/* Font converted using font-converter.net. thank you! */
@font-face {
    font-family: "PermanentMarker-Regular";
    src: url("./fonts/PermanentMarker-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/PermanentMarker-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/PermanentMarker-Regular.otf") format("opentype"), /* Open Type Font */
        url("./fonts/PermanentMarker-Regular.svg") format("svg"), /* Legacy iOS */
        url("./fonts/PermanentMarker-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/PermanentMarker-Regular.woff") format("woff"), /* Modern Browsers */
        url("./fonts/PermanentMarker-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PermanentMarker";
    src: url("./fonts/PermanentMarker-Regular.eot"); 
    src: url("./fonts/PermanentMarker-Regular.eot?#iefix") format("embedded-opentype"), 
        url("./fonts/PermanentMarker-Regular.otf") format("opentype"),
        url("./fonts/PermanentMarker-Regular.svg") format("svg"), 
        url("./fonts/PermanentMarker-Regular.ttf") format("truetype"), 
        url("./fonts/PermanentMarker-Regular.woff") format("woff"), 
        url("./fonts/PermanentMarker-Regular.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Permanent Marker";
    src: url("./fonts/PermanentMarker-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/PermanentMarker-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/PermanentMarker-Regular.otf") format("opentype"), /* Open Type Font */
        url("./fonts/PermanentMarker-Regular.svg") format("svg"), /* Legacy iOS */
        url("./fonts/PermanentMarker-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/PermanentMarker-Regular.woff") format("woff"), /* Modern Browsers */
        url("./fonts/PermanentMarker-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}