/* -- Elements -- */
*,
:before,
:after {
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
    resize: none;
    border: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 300px) {
    *,
    :before,
    :after {
        word-break: break-all;
    }
}

@media (min-width: 300px) {
    *,
    :before,
    :after {
        word-wrap: break-word;
    }
}

@keyframes load {
    to {
        background: #51637c;
    }
}

@keyframes rot {
    to {
        transform: rotate(1turn);
    }
}

::-webkit-scrollbar-thumb {
    z-index: 1000;
}

::-moz-selection {
    background: #131313;
    z-index: 325;
    color: #fff;
}

::selection {
    background: #131313;
    z-index: 325;
    color: #fff;
}

html,
body {
    font-family: "Source Sans Pro", "Roboto", "Helvetica", "Helvetica Neue",
        "Arial", sans-serif;
    transition: all 0.2s ease;
    background: #ffffff;
    line-height: 1.15;
    min-height: 100vh;
    font-weight: 400;
    font-size: 15px;
    overflow: auto;
    color: #9d9d9d;
    height: 100%;
    width: 100%;
}

body {
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    display: -moz-box;
    min-height: 100vh;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.15;
    font-weight: 400;
    color: inherit;
    display: block;
}

h1,
h2,
h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h3,
h4,
h5,
h6,
p {
    font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
}

h1 {
    margin: 2.1rem 0 1.68rem 0;
    font-size: 4.2rem;
    font-weight: 900;
}

h2 {
    margin: 1.78rem 0 1.424rem 0;
    font-size: 3.56rem;
    font-weight: 700;
}

h3 {
    margin: 1.46rem 0 1.168rem 0;
    font-size: 2.92rem;
    font-weight: 600;
}

h4 {
    margin: 1.14rem 0 0.912rem 0;
    font-size: 2.28rem;
}

h5 {
    margin: 0.82rem 0 0.656rem 0;
    font-size: 1.64rem;
}

h6 {
    margin: 0.5rem 0 0.4rem 0;
    font-size: 1rem;
}

p {
    margin: 0 0 10px;
    margin-right: 2em;
    margin-left: 2em;
}

hr {
    box-sizing: content-box;
    overflow: visible;
    height: 0;
}

small {
    font-size: 85%;
}

img,
load-img {
    vertical-align: middle;
    min-width: 100%;
    height: 200px;
    width: 100%;
}

load-img {
    animation: load 0.5s ease-in infinite alternate;
    background: #252b33;
    min-height: 300px;
}

a {
    background-color: transparent;
    transition: all 0.1s ease;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    color: #f36;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #23527c;
}

ul ul,
ol ul {
    list-style-type: circle;
}

ul,
menu,
dir {
    list-style-type: disc;
    margin: 20px 2em;
    display: block;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
    display: block;
}

li {
    text-align: inherit;
    display: list-item;
}

hr {
    box-sizing: content-box;
    border-style: inset;
    border-width: 1px;
    overflow: visible;
    display: block;
    height: 0;
}

/* -- Styles -- */
.style-bold {
    font-weight: 700;
}

.style-center {
    text-align: center;
}

.style-uppercase {
    text-transform: uppercase;
}

.color-grey,
.color-grey:hover {
    color: #9d9d9d;
}

.color-white {
    color: #fff;
}

.color-red {
    color: #d85856;
}

/* -- Icons & Font -- */
.icon {
    font-family: "Material Icons";
    letter-spacing: normal;
    display: inline-block;
    text-transform: none;
    white-space: nowrap;
    font-weight: normal;
    font-style: normal;
    word-wrap: normal;
    font-size: 24px;
    line-height: 1;
    direction: ltr;
    color: #aaa;
}

.icon-btn {
    background-color: transparent;
    transition: all 0.3s ease;
    vertical-align: middle;
    letter-spacing: normal;
    display: inline-block;
    text-transform: none;
    margin-bottom: 3.5px;
    white-space: nowrap;
    border-radius: 100%;
    align-items: center;
    line-height: 24px;
    font-weight: 500;
    min-height: 36px;
    max-width: 100%;
    font-size: 14px;
    padding: 8px;
    height: 40px;
    width: 40px;
}

.icon-btn-box .icon {
    font-size: 32px;
}

.icon-btn:hover,
.icon-btn-box:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* -- Header -- */
.header {
    line-height: 45px;
}

/* -- Navigation -- */
.navbar {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
/*     border-top: 1px solid #e2e2e2; */
    justify-content: flex-start;
    transition: all 0.2s ease;
    flex-direction: column;
    max-height: 1000px;
    position: relative;
    background: white;
    flex-wrap: nowrap;
    flex-shrink: 0;
    color: #727276;
    z-index: 1200;
    width: 100%;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-layout {
    transition: all 0.5s ease;
    align-self: stretch;
    align-items: center;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.navbar-head {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    display: flex;
}

.navbar-title {
    font-family: "Permanent Marker", "Roboto", "Helvetica", "Arial", sans-serif !important;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 25px;
    flex-shrink: 0;
    display: block;
    color: #e53935;
}

.navbar-title:hover,
.navbar-title:focus {
    text-decoration: none;
    color: #c62828;
}

.navbar-spacer {
    flex: 1;
}

ul.navbar-list {
    transition: all 0.5s ease;
    overflow: hidden;
    list-style: none;
    height: 100%;
    margin: 0;
}

.navbar-list-show {
    transition: max-height 0.5s ease;
    max-height: 100vh !important;
}

.navbar-list-hide {
    transition: max-height 0.5s ease;
    max-height: 0;
}

li.navbar-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    display: block;
    color: #727276;
    width: 100%;
}

li.navbar-link a:hover {
    cursor: pointer;
    color: #d15357;
}

li.navbar-link-focus a {
    font-weight: 600;
    color: #111;
}

.navbar-foot {
    vertical-align: middle;
    line-height: inherit;
    position: absolute;
    margin-right: auto;
    padding: 0 25px;
    height: inherit;
    display: block;
    z-index: 120;
    float: right;
    color: #000;
    right: 0;
    top: 0;
}

.navbar-backup .icon {
    color: #010101 !important;
}

@media (min-width: 600px) {
    .navbar-layout {
        position: relative;
        overflow: hidden;
        display: flex;
    }
    .navbar-head {
        margin: 0 20px 0 0;
    }
    .navbar-head,
    li.navbar-link {
        position: relative;
        display: block;
        float: left;
    }
    ul.navbar-list {
        justify-content: left;
        overflow: hidden;
        max-height: 100%;
        display: flex;
        flex: 1;
    }
    li.navbar-link a {
        padding: 0 24px;
    }
    li.navbar-link-focus a:before {
        display: none;
    }
    .navbar-foot {
        position: relative;
        padding: inherit;
        display: flex;
        float: right;
    }
    .navbar-menu {
        position: relative;
        display: none;
    }
}

/* -- Main Content -- */
.main {
    background: #fff;
    position: relative;
    display: block;
    width: 100%;
    z-index: 25;
}

/* -- Layout -- */
.layout-contain {
    margin: 0 auto;
    width: 100%;
}

.layout-contain-small {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 700px) {
    .layout-contain {
        max-width: 700px;
    }
}

@media (min-width: 900px) {
    .layout-contain-small {
        max-width: 800px;
    }

    .layout-contain {
        max-width: 1000px;
    }
}

/* -- Margin -- */
.]in-horz {
    margin-right: 25px;
    margin-left: 25px;
}

.layout-margin-horz-small {
    margin-right: 15px;
    margin-left: 15px;
}

.layout-margin-horz-mid {
    margin-right: 20px;
    margin-left: 20px;
}

.layout-margin-horz-left {
    margin-left: 25px;
}

.layout-margin-horz-right {
    margin-right: 25px;
}

.layout-margin-horz-left-small {
    margin-left: 15px;
}

.layout-margin-horz-right-small {
    margin-right: 15px;
}

.layout-margin-horz-left-mid {
    margin-left: 20px;
}

.layout-margin-horz-right-mid {
    margin-right: 20px;
}

.layout-margin-vert {
    margin-bottom: 25px;
    margin-top: 25px;
}

.layout-margin-vert-small {
    margin-bottom: 15px;
    margin-top: 15px;
}

.layout-margin-vert-mid {
    margin-bottom: 20px;
    margin-top: 20px;
}

.layout-margin-vert-top {
    margin-top: 25px;
}

.layout-margin-vert-bottom {
    margin-bottom: 25px;
}

.layout-margin-vert-top-small {
    margin-top: 15px;
}

.layout-margin-vert-bottom-small {
    margin-bottom: 15px;
}

.layout-margin-vert-top-mid {
    margin-top: 20px;
}

.layout-margin-vert-bottom-mid {
    margin-bottom: 20px;
}

/* -- Padding -- */
.layout-padding-horz {
    padding-right: 25px;
    padding-left: 25px;
}

.layout-padding-horz-small {
    padding-right: 15px;
    padding-left: 15px;
}

.layout-padding-horz-mid {
    padding-right: 20px;
    padding-left: 20px;
}

.layout-padding-horz-left {
    padding-left: 25px;
}

.layout-padding-horz-right {
    padding-right: 25px;
}

.layout-padding-horz-left-small {
    padding-left: 15px;
}

.layout-padding-horz-right-small {
    padding-right: 15px;
}

.layout-padding-horz-left-mid {
    padding-left: 20px;
}

.layout-padding-horz-right-mid {
    padding-right: 20px;
}

.layout-padding-vert {
    padding-bottom: 25px;
    padding-top: 25px;
}

.layout-padding-vert-small {
    padding-bottom: 15px;
    padding-top: 15px;
}

.layout-padding-vert-mid {
    padding-bottom: 20px;
    padding-top: 20px;
}

.layout-padding-vert-top {
    padding-top: 25px;
}

.layout-padding-vert-bottom {
    padding-bottom: 25px;
}

.layout-padding-vert-top-small {
    padding-top: 15px;
}

.layout-padding-vert-bottom-small {
    padding-bottom: 15px;
}

.layout-padding-vert-top-mid {
    padding-top: 20px;
}

.layout-padding-vert-bottom-mid {
    padding-bottom: 20px;
}

/* -- Rows & Columns */
.layout-clearfix::after,
.layout-clearfix::before,
.layout-contain::after,
.layout-contain::before,
.layout-row::after,
.layout-row::before {
    display: table;
    content: "";
    clear: both;
}

.layout-row {
    align-items: center;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.layout-contain .layout-row {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.layout-row [class*="layout-col"] {
    padding: 0 0.75rem;
    margin-left: auto;
    min-height: 1px;
    float: left;
    right: auto;
    left: auto;
}

@media (max-width: 700px) {
    .layout-row [class*="layout-col"] {
        width: 100%;
    }
}

.layout-col-1 {
    width: 10.33333333333%;
}

.layout-col-2 {
    width: 18.6666666667%;
}

.layout-col-3 {
    width: 25%;
}

.layout-col-4 {
    width: 33.33333333%;
}

.layout-col-5 {
    width: 41.6666666667%;
}

.layout-col-6 {
    width: 50%;
}

.layout-col-7 {
    width: 58.3333333333%;
}

.layout-col-8 {
    width: 66.66666667%;
}

.layout-col-9 {
    width: 75%;
}

.layout-col-10 {
    width: 83.3333333333%;
}

.layout-col-11 {
    width: 91.6666666667%;
}

.layout-col-12 {
    width: 100%;
}

/* -- Layer -- */
.layer {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.layer-content {
    font-family: "Roboto", sans-serif;
    position: relative;
    line-height: 28px;
    font-weight: 400;
    display: block;
}

.layer-white {
    background-color: #fff !important;
}

.layer-grey {
    background-color: #eee !important;
}

.layer-hero {
    position: relative;
    background: #323a45;
    text-align: center;
    overflow: hidden;
    height: 600px;
    width: 100%;
    margin: auto;
}

.layer-hero-shadow {
    -webkit-box-shadow: 0 5px 50px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 50px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 50px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: block;
    z-index: 325;
}

.layer-hero-sub {
    border-radius: 10px !important;
    height: 400px !important;
}

.layer-hero-sub .layer-hero-content {
    transform: translate(-50%, -20%);
}

.layer-hero-sub.layer-hero-shadow {
    -webkit-box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.18);
    box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.18);
}

.layer-hero-highlight {
    color: #d15357;
}

.layer-hero-godown {
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 0.25);
    border: 3px solid #fff;
    align-items: center;
    border-radius: 20em;
    position: absolute;
    display: flex;
    z-index: 425;
    bottom: 20px;
    height: 65px;
    width: 62px;
    left: 50%;
}

.layer-hero-godown:hover {
    opacity: 1 !important;
}

.layer-hero-godown span {
    transition: all ease 5s;
    animation: grow 5s ease infinite;
    border: 2px solid #fff;
    align-items: center;
    border-radius: 20em;
    position: absolute;
    display: flex;
    z-index: 425;
    height: 100%;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
}

.layer-hero-godown-icon {
    border: 2px solid white;
    display: inline-block;
    border-radius: 13px;
    z-index: 435;
    height: 35px;
    width: 20px;
    margin: auto;
}

.layer-hero-godown-icon:after {
    animation: scroll both 0.8s ease-out infinite;
    border: 1px solid transparent;
    background: #e8f380;
    border-radius: 4px;
    margin: 6px auto;
    z-index: 435;
    display: block;
    height: 10px;
    width: 2px;
    content: "";
}

@media (max-width: 600px) {
    .layer-hero-godown {
        bottom: 0 !important;
    }
}

@keyframes scroll {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
}

@keyframes grow {
    from {
        opacity: 1;
        transform: translate(0, 0) scale(1.1);
    }
    to {
        opacity: 0;
        transform: translate(0, 0) scale(1.6);
    }
}

@media (max-width: 800px) {
    .layer-hero {
        height: 500px;
        width: 100%;
    }
    .layer-hero-content {
        max-width: 500px !important;
    }
    .layer-hero-title {
        font-size: 40px !important;
        line-height: 40px !important;
    }
    .layer-hero-sub {
        width: 95%;
    }
}

.layer-hero-img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    animation: load 0.5s ease-in infinite alternate;
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    min-width: 1600px;
    height: 120%;
    width: 120%;
    z-index: 0;
    left: 50%;
    top: 50%;
}

.layer-hero-overlay {
    position: relative;
    background: #252b33;
    display: block;
    height: 100%;
    opacity: 0.35;
    width: 100%;
}

.layer-hero-content {
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 700px;
    color: white;
    opacity: 1;
    width: 90%;
    left: 50%;
    top: 45%;
}

.layer-hero-type {
    font-family: "Helvetica", "Roboto", "Source Sans Pro", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 12px;
    color: #d15357;
}

.layer-hero-title {
    font-family: "Josefin Sans", "Source Sans Pro", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 66px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
}

.layer-hero-author {
    font-family: "Roboto", "Source Sans Pro", "Arial", sans-serif;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    vertical-align: baseline;
    font-style: italic;
    position: absolute;
    display: block;
    bottom: 120px;
    color: #fff;
    left: 50%;
}

.layer-hero-author-img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-bottom: 5px;
    border-radius: 50%;
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
}

.layer-hero-author p {
    font: italic 400 12px/1.5em "Roboto", "Source Sans Pro", sans-serif;
    vertical-align: baseline;
    margin: 0 auto;
}

.layer-hero-author a {
    font: 400 13px/1.5em "Source Sans Pro", sans-serif;
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: bold;
    color: white;
}

@media (max-width: 400px) {
    .layer-hero-author {
        display: none;
    }
}

@media (max-height: 83vh) {
    .layer-hero {
        max-height: 73vh;
        border: none;
    }
}

.layer-title {
    font-family: "Permanent Marker", "Roboto", sans-serif;
    font-weight: 500;
    color: #e53935;
}

.layer-content-txt {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 17px;
    display: block;
}

.layer-img {
    max-width: 600px !important;
    height: auto;
    margin: auto;
    width: 80%;
}

.layer-line {
    border: 0.5px solid #dedede;
}

/* -- Footer -- */
.footer {
    background: #fff;
    color: #131313;
    width: 100%;
    z-index: 25;
}

.footer a {
    font-family: "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    position: relative;
    flex-shrink: 0;
    color: #3b4be6;
}

.footer a:hover {
    text-decoration: underline !important;
    color: #3549ff !important;
    font-weight: 900;
}
