mixin link (name) 
  li
    a.color-red(href=`/${name.replace(/\s/g, "-").replace(/\&/g, "and").toLowerCase()}`)= name

footer.footer
  article.layout-contain.layout-padding-horz
    section.footer-content
      section.layout-row.layout-padding-vert
        section.layout-col-12
          h5.footer-top.footer-top-focus
            a.icon-btn.color-white
              i.icon.material-icons expand_less
        section.layout-col-8
          a.footer-title(href='/') Science
        section.layout-col-4
          h5.footer-subtitle Links
          ul.footer-list
            each val in tabs
              +link(val)
      hr.layer-line
      section.layout-padding-vert
        small Copyright &copy; 2018 Okiki Ojo, Under a GNU Licence.