footer.footer.layer-white
  article.layout-contain.layout-padding-horz.layout-margin-vert-bottom
    hr.layer-line.layout-margin-vert-top.layout-margin-horz
    section.footer-content
      section.layout-padding-vert.layout-margin-vert-bottom.style-center
        small Copyright © 2018 Okiki Ojo, Under a GNU Licence.
