header.header
  nav.navbar.navbar-fixed
    article.navbar-layout
      section.navbar-head
        a.navbar-title(href='') Leaders
      section.navbar-spacer
      section.navbar-main
        ul.navbar-list.navbar-list-hide
          each val in tabs
            li.navbar-link
              a(link=val.toLowerCase())= val
          // li.navbar-link
            a(link='works cited') Works Cited
      section.navbar-foot
        a.icon-btn.navbar-backup
          i.icon.material-icons expand_less
        a.icon-btn.navbar-menu
          i.material-icons.icon menu