mixin link (name) 
  li(class=`navbar-link ${name == tab_focus ? 'navbar-link-focus' : ''}`)
    a(href=`/${name.replace(/\s/g, "-").replace(/\&/g, "and").toLowerCase()}`)= name
  
header.header
  nav.navbar.navbar-fixed
    article.navbar-layout
      section.navbar-head
        a.navbar-title(href='/')
          span.navbar-title-txt Science
      section.navbar-main
        ul.navbar-list.navbar-list-hide
          each val in tabs
            +link(val)
      section.navbar-foot
        a.icon-btn.navbar-menu
          i.icon menu
