section.layer-content
  section.layer-hero-shadow
    section.layer-hero
      .layer-hero-img-div.layer-hero-img(data-src='/images/grand-canyon.jpg' alt='An iamge of the Grand Canyon.')
      .layer-hero-overlay
      .layer-hero-content
        h2.layer-hero-type Leaders
        h1.layer-hero-title.style-uppercase Curiousity
      .layer-hero-godown-anim
        a.layer-hero-godown
          i.icon.material-icons expand_more
section#intro.layer-content.layer-white.sidebar-move
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Intro.
        span.layer-content-txt
          | Why do people use tech but not learn about it? That is the question I plan to answer today. Through some hard back breaking research I have been able to find some answers. Curiosity is a phenomenon of the mind and one of the greatest reasons humans are king of the food chain. Our curiosity drove us to learn more to try more to invent to grow to evolve to manufacture till we reached the technological age and we are still growing never stopping for anything, however, recently the younger generation with bountiful amounts of information and technology are getting less curious, this is troubling as curiosity got us to where we are now will the lack of curiosity stop our growth. Is the easy of access to Google stunting our problem solving skills. Lets answer this.
        span.layer-content-txt
          | Several points of views are necessary to answer this question. We need the technical view the fact based technological view, educators point of view; the view on the relationship between education and curiosity, psychological view; how tech affects the mind, the social lens; societal and social factors, and the personal view; the view based on personal experiences.
section.layer-content
  .layer-godown-anim
    a.layer-godown
      i.icon.material-icons expand_more
section#technical.layer-content.layer-darkgrey.sidebar-move
  section.layout-padding-vert
    section.layer-hero.layer-hero-shadow.layer-hero-sub.layout-contain
      .layer-hero-img-div.layer-hero-img(data-src='/images/waterfall.jpg' alt='An iamge of the edge of a hill.')
      .layer-hero-overlay
      .layer-hero-content
        h1.layer-hero-title.style-uppercase Techinical
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Techinical.
        span.layer-content-txt
          | An article from Hanselman discusses the technical view. The article uses an example of the Education system to discuss how from a technical point of view students are taught to lack curiosity especially when it comes to technology. It says, &quot;There&apos;s curious people and non curious people&quot;. This is especially true when it comes to teaching about tech, code isn&apos;t the be all end all, it is but a small piece of what should be taught, how systems works.
        span.layer-content-txt
          | In the article the idea of there being two types of people in the world is delved deeply into, the idea that there are &quot;curious people and non curious people,&quot; and how each of these people live. For example, two people see some dices on the ground the first person, the curious person picks it up and tries to see if anyone has lost it, while the other person walks away thinking it&apos;s none of my business, the curious person finds the person whom the dice belongs to the person then congratulates the finder with a prize. The example is analogous (an analogy) to life and how curiosity leads to opportunity sometimes taking a chance, being curious leads to a prize.
        span.layer-content-txt
          | The article then discusses a job interview question that every interviewer should ask. The question goes &quot;When you type foo.com into a browser, what happens? Then what happens? Then what happens?&quot; The question doesn&apos;t need to go exactly like that, however, the point of the question is to see the limit of ones curiosity, passion, and creativity, to what levels are you willing to go to complete task.
        span.layer-content-txt
          | To end the article questions are asked, that sound in a way rhetorical. &quot;Non-technical people, here&apos;s a secret. We tech folks have no idea what the problem is. We just try to narrow it down, removing variables....What do you think? Is 21st century technology making it too easy? Are iPhones so magical sitting atop the last millennium of technology that it&apos;s not worth teaching - or even wondering - how it all fits together?&quot;
        span.layer-content-txt
          | Curiosity is a drive to understand and learns more even in the field of technology.
section.layer-content.layer-darkgrey
  .layer-godown-anim
    a.layer-godown
      i.icon.material-icons expand_more
section#psychology.layer-content.layer-grey.sidebar-move
  section.layout-padding-vert
    section.layer-hero.layer-hero-shadow.layer-hero-sub.layout-contain
      .layer-hero-img-div.layer-hero-img(data-src='/images/sand.jpg' alt='An iamge of sand dunes.')
      .layer-hero-overlay
      .layer-hero-content
        h1.layer-hero-title.style-uppercase Psychology
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Psychology.
        span.layer-content-txt
          | A Gallup poll revealed that less than 50% of smartphone users in the US check their phone&apos;s  a few times and hour or more, this staggering number isn&apos;t all, 63% of smartphone users can&apos;t stay away from their gadgets, 70% check their phones a few times or more every hour. Studies show that tech has led to shorter attention spans. Before iPhones etc..., the average attention span for a person was 12 seconds, but now it&apos;s 8 seconds. We have convinced ourselves that our ability to multitask has improved when there is not shred of proof at all supporting this claim, in truth the brain isn&apos;t as efficient as we like to believe.
        span.layer-content-txt
          | Tech addicts or addiction is the compulsive behavior to one&apos;s check phone constantly, some requiring detox or rehab to properly function. Face-to-face interactions are undermined, for example, in a train station people in trains and are zombies stuck to phones or some other type of screen not noticing the environments and surroundings.
        span.layer-content-txt
          | Communication is shattered instead of facial expression and body movement to display emotions emojis are used as a replacement this is causing a rift in interpersonal skills, many kids don&apos;t develop conversation skills, grow up with a lack of understanding social cues. At the rate at which technology is used younger people are beginning to become more forgetful than seniors, the phenomenon occurs because in order to remember the brain moves information from the conscious mind to long term memory, but because of a lack of attentiveness the mind isn&apos;t able to do that effectively because the information isn&apos;t there to begin with as the person wasn&apos;t paying enough attention.
        span.layer-content-txt
          | Another cause it the lack of time to process new information, the brain is constantly barraged with continuous amounts of information from the internet.
        span.layer-content-txt  
section.layer-content.layer-grey
  .layer-godown-anim
    a.layer-godown
      i.icon.material-icons expand_more
section#social.layer-content.layer-white.sidebar-move
  section.layout-padding-vert
    section.layer-hero.layer-hero-shadow.layer-hero-sub.layout-contain
      .layer-hero-img-div.layer-hero-img(data-src='/images/minimal-flower-petal.jpg' alt='An iamge of flowers on a table.')
      .layer-hero-overlay
      .layer-hero-content
        h1.layer-hero-title.style-uppercase Social
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Social.
        span.layer-content-txt
          | The misconception is that tech affect the body negatively, make no mistake it has negative effects, however, most of the better known side effects are from social media. Social media affects memory, attention spans, sleep cycles, and a scientific phenomenon called neuroplasticity (the brain&apos;s ability to alter behavior based on new experiences). Social media also has the ability to organize our lives, free our minds, allow for deeper thinking, with side effects including making us uncreative, and impatient.
        span.layer-content-txt
          | Tech addicts or addiction is the compulsive behavior to one&apos;s check phone constantly, some requiring detox or rehab to properly function. Face-to-face interactions are undermined, for example, in a train station people in trains and are zombies stuck to phones or some other type of screen not noticing the environments and surroundings.
        span.layer-content-txt
          | We experience FOMO (fear of missing out), the New York Time defined it as &quot;the blend of anxiety, inadequacy and irritation that can flare up while skimming social media&quot;. For example, you are having fun and you recognize that pang: &quot;Should I be doing something else right now?&quot; That&apos;s FOMO. Its now so hard-wired into us we some times, it causes people to think their phones are ringing, when they are not it&apos;s become almost like an itch. A 2012 study published in the journal Computers and Human Behavior, found that 89% of the 290 undergraduates surveyed reported feeling &quot;phantom vibrations&quot;. A psychologist speaking on NPR suggested that physical sensations, such as an itch, may now be misinterpreted by our brains as a vibrating phone.
        span.layer-content-txt
          | Neuroscientists, glowing lights emitted by tech screens mess with your body&apos;s internal light cues and sleep-inducing hormones, circadian rhythms. A 2013 study, found that first-person shooter video games, Halo and Call of Duty, boost decision-making and visual skills. Force players to make snap decisions based on visual cues, which enhances visuospatial attention skills, or the ability to parse details of your physical environment.
        span.layer-content-txt
          | Complex, strategy-based games like Starcraft may improve the brain&apos;s &quot;cognitive flexibility&quot;, video games like Halo inhibit players&apos; ability to rein in impulsive or aggressive behavior forcing players to make snap decisions in violent situations inhibited &quot;proactive executive control&quot; a knee-jerk reactions and impulse, meaning they were more likely to react with immediate, unchecked hostility or aggression in real life.
        span.layer-content-txt
          | Curiously, curiosity is what brought about all you are reading.
        span.layer-content-txt  
section.layer-content.layer-white
  .layer-godown-anim
    a.layer-godown
      i.icon.material-icons expand_more
section#personal.layer-content.layer-grey.sidebar-move
  section.layout-padding-vert
    section.layer-hero.layer-hero-shadow.layer-hero-sub.layout-contain
      .layer-hero-img-div.layer-hero-img(data-src='/images/stone.jpg' alt='An iamge of a white stone.')
      .layer-hero-overlay
      .layer-hero-content
        h1.layer-hero-title.style-uppercase Personal
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Personal.
        span.layer-content-txt
          | This is the life someone who&apos;s curiosity built their life today. Lucas Johnson was always curious, about tech and it&apos;s rapid growth, when he got his first computer at the age of 9 he was super excited, he explored, and more often than not broke devices in the pursuit for more knowledge. Learned how to navigate his devices over time through trial and error, that&apos;s why and how he got so good code and tech.
        span.layer-content-txt
          | As a kid he went on a site thought to be BBC, decided to click save as, opened it in word processor, sees &quot;&lt;&gt;&quot; everywhere, one of the words was black, changed to red, saved file opened file in Safari, first experience with coding. Each year he&rsquo;d grow a little bigger. So would the latest laptop. &quot;This piqued [his] curiosity&mdash;[he] was always interested to learn about these weird, magical machines and how they worked. He would go through each application to see what I could make, to see what would happen when I pressed this button, to see what would happen when I entered that key. &ldquo;The best way to predict the future is to invent it.&rdquo;&hairsp;&mdash;&hairsp;Alan Kay.
        span.layer-content-txt
          | He started developing my skills in HTML, CSS, JavaScript, jQuery, and Python. He even started developing websites for some local businesses to earn a little bit of pocket money for himself!  In a quote he said, &quot;In my lifetime, I want to use technology to improve the lives of people on this planet. I think being a Software Engineer at my age gives me a unique perspective on how technology impacts young people, because I am one of the young people impacted by it, so I see it all first-hand. That perspective is something I bring to the table when I contribute to the development of a new piece of technology, and it&rsquo;s a perspective I want to share&quot;.
        span.layer-content-txt
          | Today he is a software engineer &amp; product manager focusing on financial services for under 18s, working at starling bank.
        span.layer-content-txt  
section.layer-content.layer-grey
  .layer-godown-anim
    a.layer-godown
      i.icon.material-icons expand_more
section#education.layer-content.layer-darkgrey.sidebar-move
  section.layout-padding-vert
    section.layer-hero.layer-hero-shadow.layer-hero-sub.layout-contain
      .layer-hero-img-div.layer-hero-img(data-src='/images/neon.jpg' alt='An iamge of a neon sign.')
      .layer-hero-overlay
      .layer-hero-content
        h1.layer-hero-title.style-uppercase Education
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Education.
        span.layer-content-txt
          | Education is about bringing back curiosity and wonder. Meanwhile the media, both mass and traditional and social is killing curiosity, politics, racism, environmental or a host of other modern issues. Curiosity is nice in theory, it might work in schools, in the real world, curiosity is not valued and it&rsquo;s often disdained. The absence of wonder and curiosity sends exactly the opposite message to students. The shortage of thoughtful, welcoming conversation and discourse is alarming. For a person genuinely interested in learning about two or more sides of an issue, good luck. There aren&rsquo;t many safe places to ask questions and learn. Phrase a question incorrectly, hammered and chastised for your ignorance. So instead of engaging in civil discourse, you&rsquo;re forced to choose a side. Schools might be the only places where ignorance is embraced and addressed without judgment. The world rejects and chastises anyone who challenges any side, interestingly the statement &quot;I&rsquo;m not trying to win the argument; I&rsquo;m trying to have the argument&rdquo; is true about pretty much every statement now. To end things with a high note &ldquo;Be curious as a child, when you become an adult, you&rsquo; have to be careful which things you&rsquo;re curious about&rdquo;.
        span.layer-content-txt  
section.layer-content.layer-darkgrey
  .layer-godown-anim
    a.layer-godown
      i.icon.material-icons expand_more
section#conclusion.layer-content.layer-grey.sidebar-move
  section.layout-padding-vert
    section.layer-hero.layer-hero-shadow.layer-hero-sub.layout-contain
      .layer-hero-img-div.layer-hero-img(data-src='/images/sunlight-shadow.jpg' alt='An iamge of a motorcycle riding on a road.')
      .layer-hero-overlay
      .layer-hero-content
        h1.layer-hero-title.style-uppercase Conclusion
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Conclusion.
        span.layer-content-txt
          | In conclusion, people are not curious about the technology that powers their lives because  of multiple factors some of which are, the internet makes to easy to find information so people never really bother, society doesn&apos;t value curiosity, and social misconceptions make curiosity a back thought.
        span.layer-content-txt  
section.layer-content.layer-grey
  .layer-godown-anim
    a.layer-godown
      i.icon.material-icons expand_more
section.layer-content.layer-white.sidebar-move(id='works cited')
  section.layout-padding-vert
    section.layer-hero.layer-hero-shadow.layer-hero-sub.layout-contain
      .layer-hero-img-div.layer-hero-img(data-src='/images/tokyo-infinity.jpg' alt='An iamge of tokyo.')
      .layer-hero-overlay
      .layer-hero-content
        h1.layer-hero-title.style-uppercase Works Cited
  section.layout-contain
    section.layer
      section.layout-padding-vert-top.layout-padding-horz
        h4.layer-title Works Cited.
        span.layer-content-txt.layer-whitespace-prewrap
          | Hanselman, Scott. &ldquo;Scott Hanselman.&rdquo; 
          i About Scott Hanselman
          | , 1 June 2016,
          br
          |         www.hanselman.com/blog/IsTechnologyKillingCuriosity.aspx.
          | Hiscott, Rebecca. &ldquo;8 Ways Tech Has Completely Rewired Our Brains.&rdquo; 
          i Mashable
          | , Mashable,
          br
          |         14 Mar. 2014, mashable.com/2014/03/14/tech-brains-neuroplasticity/#wjxpPvrjLmqb.
          | Johnston, Lucas. &ldquo;Technology and Me: Growing up in the Digital Age &ndash; FreeCodeCamp.org.&rdquo;
          br
          i FreeCodeCamp.org
          | , FreeCodeCamp.org, 27 Mar. 2018,
          br
          |         medium.freecodecamp.org/technology-me-growing-up-in-the-digital-age-f628f656558e.
          | Shareski, Dean. &ldquo;The Problem with Curiosity.&rdquo; 
          i Tech Learning
          | , Tech Learning, 14 June 2017,
          br
          |         www.techlearning.com/tl-advisor-blog/12029.
          | &ldquo;&ZeroWidthSpace;How Technology Affects The Way Our Brain Works.&rdquo; 
          i Psych Central
          | , 28 May 2018,
          br
          |         https://psychcentral.com/blog/%E2%80%8Bhow-technology-affects-the-way-our-brain-wo
          br
          |         rks/.

section.layer-content.layout-margin-vert
  section.layout-row
    section.layout-contain
      h4.layer-title.layout-padding-horz Image Sources.
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/eKpO8DlBvo0', target='_blank')
            load-img.layer-tile-img(src='/images/grand-canyon.jpg' alt='An iamge of the Grand Canyon.')
            section.layer-tile-overlay.layer-tile-overlay-20deg
            section.layer-tile-footer
              | Jasper van der Meij
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/vI-uFNolpLA', target='_blank')
            load-img.layer-tile-img(src='/images/waterfall.jpg' alt='An iamge of the edge of a hill.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer
              | Annie Spratt
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/tSR133k8Diw', target='_blank')
            load-img.layer-tile-img(src='/images/sand.jpg' alt='An iamge of sand dunes.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer
              | Ghost Presenter
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/RL3F99l0XYE', target='_blank')
            load-img.layer-tile-img(src='/images/minimal-flower-petal.jpg' alt='An iamge of flowers on a table.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer
              | Nicolette Meade
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/6egdNN_3k3I', target='_blank')
            load-img.layer-tile-img(src='/images/stone.jpg' alt='An iamge of a white stone.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer
              | Annie Spratt
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/j2RgHfqKhCM', target='_blank')
            load-img.layer-tile-img(src='/images/neon.jpg' alt='An iamge of a neon sign.')
            section.layer-tile-overlay.layer-tile-overlay-20deg
            section.layer-tile-footer
              | Lubo Minar
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/TxNgJwin544', target='_blank')
            load-img.layer-tile-img(src='/images/sunlight-shadow.jpg' alt='An iamge of a motorcycle riding on a road.')
            section.layer-tile-overlay.layer-tile-overlay-70deg
            section.layer-tile-footer
              | Jared Poledna
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/4u2U8EO9OzY', target='_blank')
            load-img.layer-tile-img(src='/images/tokyo-infinity.jpg' alt='An iamge of tokyo.')
            section.layer-tile-overlay.layer-tile-overlay-50deg
            section.layer-tile-footer
              | Pawel Nolbert


.author.layout-contain 
  p.author-name
    | by 
    span.layer-hero-highlight Okiki Ojo
  p.author-date on December 7, 2018.

