extends template/layout

block content
  section.layout-contain.layout-margin-vert-bottom-small.center-board
    h1.color-red Oops!
    h4
      | Sorry, the page you were trying to load doesn&apos;t exist.
      h5
        a.color-red(href='/') Go to our Homepage
