extends template/layout

block content
  section.layout-contain.center-board.layout-padding-vert.layout-margin-vert
    h1.color-blue Oops!
    h4
      | Sorry, the page you were trying to load doesn&apos;t exist.
      h5
        a.color-blue(href='/') Go to our Homepage
