extends template/layout

block content
  section.layout-contain.center-board.layout-padding-vert.layout-margin-vert
    h1.color-blue Oops!
    h4
      | Sorry, there was a bad gateway reload the page or wait and try again later. 
