extends template/layout

block content
  section.layout-contain.layout-margin-vert-bottom-small.center-board
    h1.color-red Oops!
    h4
      | Sorry, there was a bad gateway reload the page or wait and try again later. 
