extends template/layout

block content
  section.layout-contain.center-board.layout-padding-vert.layout-margin-vert
    h1.color-blue= title
    h4= details
    h5
      a.color-blue(href='/') Go to our Homepage
