doctype html
html(lang="en")
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Cache-Control" content="max-age=2592000")
    meta(charset='UTF-8')
    
    link(rel='stylesheet' href='./fonts/fonts.min.css')
    link(rel='stylesheet' href='./css/main.min.css')
    
    title= title
    
    meta(content='website', property='og:type')
    meta(content='Leader', property='og:title')
    meta(content="A website containing Leadership projects. It's is one of a series of websites built by Okiki Ojo for school subjects.", property='og:description')
    meta(name='description', content="A website containing Leadership projects. It's is one of a series of websites built by Okiki Ojo for school subjects.")
    meta(name='keywords', content='Leader, App, Projects, Okiki, Ojo')
    meta(name='copyright', content='Copyright &copy; 2018 Okiki Ojo, Under a GNU Licence.')
    meta(name='author', content='Okiki Ojo')

    
    link(rel="manifest" href="./manifest.json")
    meta(name='theme-color' content='#ff0064')
    meta(name='msapplication-navbutton-color' content='#ff0064')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='#ff0064')
    
    <!--[if IE]-->
      link(rel='shortcut icon' href='./images/icon/icon.ico')
    <!--<![endif]-->
    
    link(rel='icon' sizes='512x512' type='image/png' href='./images/icon/icon-512.png')
    link(rel='icon' sizes='256x256' type='image/png' href='./images/icon/icon-256.png')
    link(rel='icon' sizes='128x128' type='image/png' href='./images/icon/icon-128.png')
    link(rel='icon' sizes='72x72' type='image/png' href='./images/icon/icon-72.png')
    link(rel='icon' sizes='57x57' type='image/png' href='./images/icon/icon-57.png')
    link(rel='icon' sizes='32x32' type='image/png' href='./images/icon/icon-32.png')
    link(rel='icon' sizes='16x16' type='image/png' href='./images/icon/icon-16.png')
    link(rel='icon' sizes='any' type='image/svg+xml' href='./images/icon/icon.svg')
    link(rel='shortcut icon' type='image/x-icon' href='./images/icon/icon-512.png')
    link(content="https://app-leader.herokuapp.com/" rel="canonical")
    link(rel="preconnect" async href="//app-leader.herokuapp.com/")
    link(rel="preconnect" async href="//unsplash.com/")
    if typeof css !== "undefined"
      each style in css
        link(rel='stylesheet' href=style)
  body
    div.cover.load
      div.shade
      div.loader
    include ../components/header.pug
    main.main.layer-white
      block content
    include ../components/footer.pug
    script(src='./js/jquery.min.js')
    script(src='./js/main.min.js')
    script.
      var navigator = window.navigator;
      if ('serviceWorker' in navigator) {
        window.addEventListener("load", function () {
          navigator.serviceWorker.register('/sw.min.js')
              .then(function(registry) {
                  // Registration was successful
                  console.log('[Service Worker] registration successful with scope: ', registry.scope);
                  if (registry.installing) {
                      console.log('[Service Worker] installing');
                  }
                  else if (registry.waiting) {
                      console.log('[Service Worker] installed');
                  }
                  else if (registry.active) {
                      console.log('[Service Worker] active');
                  }
              })
              .catch(function(err) {
                  // Registration failed :(
                  console.error('[Service Worker] registration failed: ', err);
              });
        })
      } else {
          console.log("No Service Worker's or App Cache Support")
      }
    if typeof js !== "undefined"
      each scripts in js
        script(src=scripts defer)
