@font-face {
    font-family: "MaterialIcons-Regular";
    src: url("MaterialIconMod-min.eot");
    src: url("MaterialIconMod-min.eot?#iefix") format("embedded-opentype"),
         url("MaterialIconMod-min.woff2") format("woff2"),
         url("MaterialIconMod-min.woff") format("woff"),
         url("MaterialIconMod-min.ttf") format("ttf"),
         url("MaterialIconMod-min.svg#MaterialIcons-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}