@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("OpenSans-LightItalic.eot");
    src: url("OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
         url("OpenSans-LightItalic.woff2") format("woff2"),
         url("OpenSans-LightItalic.woff") format("woff"),
         url("OpenSans-LightItalic.ttf") format("ttf"),
         url("OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg");
    font-style: italic;
    font-weight: 300;
}