@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Regular.eot");
    src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
         url("OpenSans-Regular.woff2") format("woff2"),
         url("OpenSans-Regular.woff") format("woff"),
         url("OpenSans-Regular.ttf") format("ttf"),
         url("OpenSans-Regular.svg#OpenSans-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}