@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("OpenSans-ExtraBold.eot");
    src: url("OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("OpenSans-ExtraBold.woff2") format("woff2"),
         url("OpenSans-ExtraBold.woff") format("woff"),
         url("OpenSans-ExtraBold.ttf") format("ttf"),
         url("OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}