@font-face {
    font-family: "OpenSans-Light";
    src: url("OpenSans-Light.eot");
    src: url("OpenSans-Light.eot?#iefix") format("embedded-opentype"),
         url("OpenSans-Light.woff2") format("woff2"),
         url("OpenSans-Light.woff") format("woff"),
         url("OpenSans-Light.ttf") format("ttf"),
         url("OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}