doctype html
html(lang="en")
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='theme-color' content='#3B4BE6')
    meta(name='msapplication-navbutton-color' content='#3B4BE6')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='#3B4BE6')
    
    //if IE
      link(rel='shortcut icon' href='./assets/images/logo/Science.ico)

    link(rel='stylesheet' href='./assets/fonts/fonts.css')
    link(rel='icon' href='./assets/images/logo/Science.png' sizes='57x57' type='image/png')
    link(rel='icon' href='./assets/images/logo/Science.svg' sizes='any' type='image/svg+xml')
    link(rel='shortcut icon' href='./assets/images/logo/Science.png' type='image/x-icon')
    link(rel='icon' href='./assets/images/logo/Science.png' sizes='16x16' type='image/png')
    link(rel='stylesheet' href='./css/main.min.css')
    if typeof css !== "undefined"
      each style in css
        link(rel='stylesheet' href=style)
  body
    include ../components/header.pug
    main.main
      block content
    include ../components/footer.pug
      
  script(src='./js/rye.min.js')
  script(src='./js/main.min.js')
  if typeof js !== "undefined"
      each scripts in js
        script(src=scripts)
